{
  "branches": [
    "master"
  ],
  "repositoryUrl": "https://github.com/Insta-Graph/micro-frontend-user",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "CHANGELOG.md"
        ]
      }
    ],
      "@semantic-release/github"
  ]
}
